<div class="c-panel group">
  <div class="forgot_password_text">
    <p>Change your password</p>
  </div>
  <div class="c-panel__form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.password_field :password, autofocus: true, class: "c-panel__input", placeholder: "New-Password(minimum 6 character)" %>
    <%= f.password_field :password_confirmation, autofocus: true, class: "c-panel__input", placeholder: "Confirm new password" %>
    <%= f.submit "Change my password", class: "c-btn1" %>
  <% end %>
  </div>
</div>
</div>