<body>
  <div class="container">
    <div class="card">
      <h2>Create Post</h2>
        <%= form_with model: @post do |form|%>
          <div data-controller="image">
            <div class="imgBg">
              <%# <img id="demo_image" onchange="changeImage(this)" data-target="image.output"> %>
            </div>
            <div>
              <%#= form.file_field :image, id: 'upload_file',class: "input_teg", data: {target: "image.input", action: "onChanged->image#readURL" } , onchange: 'uploadFile()' %>
              <%= form.file_field :image, id: 'upload_file',class: "input_teg", data: {target: "image.input", action: "change->image#readURL" }  %>
            </div>
            <br>
            <div>
              <%= form.text_area :desc, class: "input_teg", placeholder: "Add Description" %>
            </div>
          </div>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit "Create post", class: "btn"%>
        <% end %>
    </div>
  </div>
</body>




<script>

// function uploadFile(){
  // document.getElementsByClassName('imgBg')[0].innerHTML = `<video src='${(window.URL ? URL : webkitURL).createObjectURL(document.getElementById("upload_file").files[0])}'/>`
// }

//   if (image.getAttribute("type") == "video/mp4") {
//       // Create a new video element
//       var video = document.createElement("video");
      
//       // Set the src attribute to the image's src
//       // video.src = ;
      
//       // Set other attributes like controls, autoplay, etc., as needed
//       video.controls = true;
      
//       // Replace the image with the video element
//       image.parentNode.replaceChild(video, image);
//   }
// }
// debugger
// image.change(function(){

//   // Check if the type attribute is "video/mp4"
//     debugger

// });
 </script> 