<div class="c-panel group">          
  <%= image_tag 'instagram.svg', class: "c-panel__img" %> 
  <div class="c-panel__form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource, class: "error-message" %>
              
      <%= f.email_field :email, autofocus: true, class: "c-panel__input", placeholder: "Email" %>
        
      <%= f.text_field :username, autofocus: true,class: "c-panel__input", placeholder: "Username" %>
  
      <%= f.text_field :full_name, autofocus: true, class: "c-panel__input", placeholder: "Full name" %>
      
      <%= f.password_field :password,class: "c-panel__input", placeholder: "Password" %>
    
      <%= f.password_field :password_confirmation, class: "c-panel__input", placeholder: "Conform Password" %>
          
      <%= f.submit "Sign up", class: "c-btn" %>
    <% end %>
    
    <span class="c-panel__span">OR</span>
  </div>
  <a href="#" class="c-panel__facebook"><%= image_tag 'facebook.svg' %>&nbsp; Login with Facebook</a>
</div>
<div class="c-signup group">
  <p>You have an account? <span><%= render "users/shared/links" %></span></p>
</div>
<div class="c-app">
  <p>Get the app.</p>
  <div class="c-app__download">
    <%= image_tag 'apple.png' %>
    <%= image_tag 'google.png' %>
  </div>
</div>

